<div class="col-md-4 col-md-offset-4">
  <h2 class="ui teal image header text-center">
    Create account
  </h2>
  <alert message="vm.signupMessage" ng-if="(vm.signupMessage)"></alert>
  <form name="formCreate" class="login-form">
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-user"></i>
        </span>
        <input type="text" class="form-control" id="inputName"
        placeholder="Your name" ng-model="vm.user.name" ng-required="true">
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-asterisk"></i>
        </span>
        <input type="password" class="form-control" id="inputPass"  name="inputPass"
        placeholder="Your password" ng-model="vm.user.password" ng-required="true">
      </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error': formCreate.inputConfirmPass.$error.passwordMatch }">
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-asterisk"></i>
        </span>
        <input type="password" class="form-control" id="inputConfirmPass" name="inputConfirmPass"
        placeholder="Confirm your password" ng-model="vm.confirm_password" ng-required="true" check-password="inputPass">
      </div>
    </div>
    <div class="form-group row frm-buttons">
        <button type="submit" class="btn ui teal col-sm-5"
        ng-disabled="formCreate.$invalid" ng-click="vm.signup()">Create</button>
        <a class="btn btn-danger col-sm-5 col-sm-offset-2" href="#/">Cancel</a>
    </div>
  </form>
</div>
