<section>
    <div class="col-md-4 col-md-offset-4">
        <h2 class="image header text-center">
          {{'LOGIN_TITLE' | translate}}
        </h2>
        <form name="formConnect" class="form" ng-submit="$ctrl.connect()">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">
                      <i class="fa fa-user"></i>
                    </span>
                    <input type="text" class="form-control" id="inputEmail" placeholder="{{'COMMON_EMAIL' | translate}}" ng-model="$ctrl.user.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" ng-required="true">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">
                      <i class="fa fa-asterisk"></i>
                    </span>
                    <input type="password" class="form-control" id="inputPass" placeholder="{{'COMMON_PASSWORD' | translate}}" ng-model="$ctrl.user.password" ng-required="true">
                </div>
            </div>
            <button type="submit" class="btn btn-block" ng-disabled="formConnect.$invalid">{{'LOGIN_CONNECT' | translate}}</button>
        </form>
        <div class="sub-form">
          <div class="col-md-6">
              <a ui-sref="app.home">{{'LOGIN_BACK' | translate}}</a>
          </div>
            <div class="col-md-6">
                <a href="">{{'LOGIN_FORGOT' | translate}}</a>
            </div>
        </div>
    </div>
</section>
