<section>
    <div class="container">
      <div class="row">
        <h2 class="col-xs-12 col-sm-12 col-md-12 col-lg-12">{{'SUMMARY_DASHBOARD' | translate}}</h2>
      </div>
      <div class="cards row">
        <div class="card hover col-xs-12 col-sm-12 col-md-3 col-lg-3" ng-click="$ctrl.goTo('app.dashboard.users')">
            <div class="row card-content">
                <div class="col-xs-3">
                    <span class="ico"><i class="fa fa-users "></i></span>
                </div>
                <div class="col-xs-9">
                    <h4>{{'COMMON_USERS' | translate}}</h4>
                </div>
            </div>
        </div>
        <div class="card hover col-xs-12 col-sm-12 col-md-3 col-lg-3" ng-click="$ctrl.goTo('app.dashboard.posts')">
            <div class="row card-content">
                <div class="col-xs-3">
                    <span class="ico"><i class="fa fa-files-o "></i></span>
                </div>
                <div class="col-xs-9">
                    <h4>{{'SUMMARY_POSTS' | translate}}</h4>
                </div>
            </div>
        </div>
      </div>
    </div>
</section>
