<section>
    <div class="container">
      <div class="row">
        <h2>Dashboard</h2>
      </div>
      <div class="cards row">
        <div class="card hover col-xs-3" ng-click="$ctrl.goTo('app.dashboard.users')">
            <div class="row card-content">
                <div class="col-xs-3">
                    <span class="ico"><i class="fa fa-users "></i></span>
                </div>
                <div class="col-xs-9">
                    <h4>Users</h4>
                </div>
            </div>
        </div>
      </div>
    </div>
</section>
