<section class="edit">
    <div class="container">
      <a class="btn warning btn-floating bottom" ui-sref="app.dashboard.summary"><i class="fa fa-mail-reply"></i></a>
      <div class="row">
          <h2 class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            {{'USERSLIST_TITLE' | translate}} ({{$ctrl.users.length}})
          </h2>
          <h2 class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <button class="btn pull-right" ng-click="$ctrl.add()"><i class="fa fa-plus"></i> {{'COMMON_ADD' | translate}}</button>
          </h2>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-sm-offset-9 col-md-offset-9 col-lg-offset-9">
          <input type="text" class="form-control" placeholder="Search">
        </div>
      </div>
      <div class="cards row">
          <div class="card hover col-xs-12 col-sm-12 col-md-3 col-lg-3" ng-repeat="user in $ctrl.users | limitTo:4:$ctrl.startIndex " ng-class="{'selected': $ctrl.selectedUser == user}" ng-click="$ctrl.edit(user)">
              <button class="btn danger col-sm-5 col-sm-offset-2" ng-click="$ctrl.delete($index, user)"> <i class="fa fa-trash"></i></button>
              <div class="row card-content">
                  <div class="col-xs-3">
                      <gravatar email="{{user.email}}" size="45" class="circle"></gravatar>
                  </div>
                  <div class="col-xs-9">
                      <div>{{(user.firstname || '?') + ' ' + user.lastname}}</div>
                      <span class="label">{{(user.isAdmin ? 'COMMON_ADMIN' : 'COMMON_USER') | translate}}</span>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <ul class="pagination">
              <li ng-if="$ctrl.startIndex >= 4"><a class="btn" ng-click="$ctrl.startIndex = $ctrl.startIndex - 4"><i class="fa fa-chevron-left"></i></a></li>
              <li ng-if="$ctrl.startIndex < $ctrl.users.length - 4"><a class="ui teal btn" ng-click="$ctrl.startIndex = $ctrl.startIndex + 4"><i class="fa fa-chevron-right"></i></a></li>
          </ul>
      </div>
      <div class="row" ng-if="$ctrl.selectedUser">
          <h4 class="header">{{'COMMON_EDIT' | translate}}</h4>
          <form id="formUser" name="formUser" class="form">
              <div class="row">
                <div class="col-md-6 form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                          <i class="fa fa-user"></i>
                        </span>
                        <input type="text" class="form-control" id="inputFirstname" placeholder="{{'COMMON_FIRSTNAME' | translate}}" ng-model="$ctrl.selectedUser.firstname">
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                          <i class="fa fa-user"></i>
                        </span>
                        <input type="text" class="form-control" id="inputLastname" placeholder="{{'COMMON_LASTNAME' | translate}}" ng-model="$ctrl.selectedUser.lastname">
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                          <i class="fa fa-envelope"></i>
                        </span>
                        <input type="text" class="form-control" id="inputEmail" placeholder="{{'COMMON_EMAIL' | translate}}" ng-model="$ctrl.selectedUser.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" ng-required="true">
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                          <i class="fa fa-asterisk"></i>
                        </span>
                        <input type="password" class="form-control" id="inputPass" name="inputPass" placeholder="{{'COMMON_PASSWORD' | translate}}" ng-model="$ctrl.selectedUser.password" ng-required="!$ctrl.selectedUser._id">
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 form-group">
                    <div class="input-group">
                      <input id="boxAdmin" class="css-checkbox" type="checkbox" ng-model="$ctrl.selectedUser.isAdmin" />
                      <label for="boxAdmin" class="css-label">{{'COMMON_ADMIN' | translate}}</label>
                    </div>
                </div>
                <div class="col-md-6 form-group frm-buttons">
                    <button type="submit" class="btn col-sm-3 pull-right" ng-click="$ctrl.save()" ng-disabled="formUser.$pristine || formUser.$invalid"><i class="fa fa-save"></i> {{'COMMON_SAVE' | translate}}</button>
                </div>
            </div>
          </form>
      </div>
    </div>
</section>
