/* ui */

.ui.teal.bg {
    background-color: #00b5ad;
}
.ui.teal.text {
    color: #00b5ad;
}
.ui.teal.header {
    color: #00b5ad !important;
}
.ui.teal.btn {
    background-color: #00b5ad;
    color: #ffffff;
    text-shadow: none;
    background-image: none;
    border: none;
}
.ui.teal.btn:hover {
    background-color: #009c95;
    color: #ffffff;
    text-shadow: none;
}

.ui.amber.bg {
    background-color: #ffc107;
}
.ui.amber.text {
    color: #ffc107;
}
.ui.amber.header {
    color: #ffc107 !important;
}
.ui.amber.btn {
    background-color: #ffc107;
    color: #ffffff;
    text-shadow: none;
    background-image: none;
    border: none;
}
.ui.amber.btn:hover {
    background-color: #c59400;
    color: #ffffff;
    text-shadow: none;
}

.ui.red.bg {
    background-color: #EF5350;
}
.ui.red.text {
    color: #EF5350;
}
.ui.red.header {
    color: #EF5350 !important;
}
.ui.red.btn {
    background-color: #EF5350;
    color: #ffffff;
    text-shadow: none;
    background-image: none;
    border: none;
}
.ui.red.btn:hover {
    background-color: #B71C1C;
    color: #ffffff;
    text-shadow: none;
}

.ui.green.bg {
    background-color: #4CAF50;
}
.ui.green.text {
    color: #4CAF50;
}
.ui.green.header {
    color: #4CAF50 !important;
}
.ui.green.btn {
    background-color: #4CAF50;
    color: #ffffff;
    text-shadow: none;
    background-image: none;
    border: none;
}
.ui.green.btn:hover {
    background-color: #1B5E20;
    color: #ffffff;
    text-shadow: none;
}
