<section>
    <div class="intro">
        <div class="container text-center">
            <h1 class="intro-title text" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable' : $ctrl.editMode}" ng-model="$ctrl.page.content.title">{{$ctrl.page.content.title}}</h1>
            <p class="subtitle text" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable' : $ctrl.editMode}" ng-model="$ctrl.page.content.subtitle">{{$ctrl.page.content.subtitle}}</p>
        </div>
    </div>
    <div class="container">
        <div class="row concepts">
            <card class="col-sm-4" edit-mode="$ctrl.editMode" ng-model="$ctrl.page.content.concept1" />
            <card class="col-sm-4" edit-mode="$ctrl.editMode" ng-model="$ctrl.page.content.concept2" />
            <card class="col-sm-4" edit-mode="$ctrl.editMode" ng-model="$ctrl.page.content.concept3" />
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-6">
              <h3 ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable' : $ctrl.editMode}" ng-model="$ctrl.page.content.section1.title">{{$ctrl.page.section1.title}}</h3>
              <p ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable' : $ctrl.editMode}" ng-model="$ctrl.page.content.section1.content">{{$ctrl.page.section1.content}}</p>
          </div>
          <div class="col-sm-6">
            <img src="img/showcase.png" class="img-responsive" alt="">
          </div>
        </div>
        <button class="btn danger btn-floating cancel top" ng-if="$ctrl.editMode" ng-click="$ctrl.cancel()"><i class="fa fa-close"></i></button>
        <button class="btn success btn-floating top" ng-if="$ctrl.editMode" ng-click="$ctrl.save()"><i class="fa fa-check"></i></button>
        <button class="btn warning btn-floating top" ng-if="(!$ctrl.editMode && $ctrl.user && $ctrl.user.isAdmin)" ng-click="$ctrl.editMode = true"><i class="fa fa-pencil"></i></button>
    </div>
</section>
