<section>
    <div class="intro">
        <div class="container text-center">
            <h1 class="intro-title">
              Title
            </h1>
            <p class="subtitle text" >subtitle</p>
        </div>
    </div>
    <div class="container">
        <div class="row concepts">
            <card class="col-sm-4" />
            <card class="col-sm-4" />
            <card class="col-sm-4" />
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-6">
              <h3>Title</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, aspernatur! Quae consequuntur necessitatibus, consequatur nobis quos unde nemo commodi, reprehenderit ullam porro quod a, accusamus saepe. Voluptatem saepe inventore, doloremque.</p>
          </div>
          <div class="col-sm-6">
            <img src="img/showcase.png" class="img-responsive" alt="">
          </div>
        </div>
    </div>
</section>
