@import 'colors';
/* cards */
.cards {
    margin-top: 10px;
}
@media (min-width: 992px) {
    .card.col-md-3,.card.col-lg-3 {
        width: 24%;
    }

}
@media (min-width: 768px) and (max-width:991px){
  .card.col-sm-4 {
      width: 32%;
  }
  .card.col-sm-12{
      width: 98%;
      margin: 1% 1% 0;
  }
}

@media (max-width: 767px){
  .card.col-xs-12 {
      width: 98%;
      margin: 1% 1% 0;
  }
}

.card {
    background: $white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    min-height: 85px;
    border: 2px solid $white;
    margin: 0 1% 0 0;
}

.card.hover:hover {
    background-color: $gray;
    cursor: pointer;
    border: 2px solid $gray;
}

.card.selected {
    border: 2px solid $primary;
}

.card > .btn {
    position: absolute;
    width: 36px;
    border-radius: 50%;
    top: -15px;
    right: 10px;
}

.card-content {
    padding: 20px;
}

.card-content > div > img {
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}

.card-content > div > .ico {
    font-size: 30px;
    color: $secondary;
}
/* icon */
.card > .icon {
    background-color: $primary;
    border-radius: 50%;
    color: $white;
    text-align: center;
    font-size: 21px;
    height: 60px;
    width: 60px;
    line-height: 60px;
    margin-top: -25px;
    display: inline-block;
}
