/* base colors */
$background: #F5F5F5;
$text-default: #727272;
$text-edit: #faebd7;
$white: #FFF;
$gray: #efefef;
$orange: #ffc107;
$orange-dark: #c59400;
$red: #EF5350;
$red-dark: #B71C1C;
$green: #4CAF50;
$green-dark: #1B5E20;
/* theme colors */
$primary: #00b5ad;//#ff6663
$primary-dark: #009c95;
$secondary: $orange;
$secondary-dark: $orange-dark;
