@import 'colors';
/* navbar */
.navbar {
    background-color: $primary;
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.navbar-nav{
  background-color: $primary;
  margin-top: -0px;
}
.navbar-nav > li > a {
    color: $white !important;
    line-height: 30px;
}

.navbar-nav > .open > a,
.navbar-nav > li > a:hover {
    background-color: rgba(0, 0, 0, 0.2) !important;
}

.navbar-nav > .selected > a {
    border-bottom: 2px solid $white;
}

.navbar-nav > li > a > img.circle {
    border-radius: 50%;
    height: 30px;
}

.navbar-default .navbar-toggle .icon-bar,
button.navbar-default,
button.navbar-toggle:hover {
    background-color: $white !important;
}

button.navbar-default > .icon-bar,
button.navbar-toggle:hover > .icon-bar {
    background-color: $primary !important;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: $white;
    }
}

.navbar-default .navbar-toggle {
    border-color: $white;
}
