@import 'colors';

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 70px;
    background-color: $background;
    color: $text-default;
}
/* form */
.form {
    background: $white;
    padding: 20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.sub-form {
    text-align: center;
    margin-top: 20px;
    background: #FFF;
    height: 60px;
    line-height: 60px;
}

.frm-buttons {
    padding: 0 15px;
    margin-bottom: 0;
}
/* override */
.wrapper {
    margin-top: -10px;
}

section > div.container {
    margin-bottom: 50px;
}

.btn,
.input-group-addon,
input {
    border-radius: 0;
}

.pagination > li > a {
    margin-right: 5px;
}

.pagination > li > a.btn {
    margin-right: 5px;
    background-color: $primary;
    color: $white;
    text-shadow: none;
    background-image: none;
    border: none;
    border-radius: 0;
}

.form-control:focus {
    border-color: $primary;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 181, 173, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 181, 173, .6);
}
/* checkbox */
input[type=checkbox].css-checkbox {
    display: none;
}

input[type=checkbox].css-checkbox+ label.css-label {
    padding-left: 30px;
    height: 22px;
    display: inline-block;
    line-height: 22px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 15px;
    vertical-align: middle;
    cursor: pointer;
    font-weight: normal;
}

input[type=checkbox].css-checkbox:checked+ label.css-label {
    background-position: 0 -22px;
}

.css-label {
    background-image: url('../img/checkbox.png');
}
/* floating button */
.btn-floating {
    color: $white;
    z-index: 1;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    position: fixed;
    line-height: 37px;
    padding: 0;
    font-size: 20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.btn-floating.cancel {
    margin-left: 40px;
}

.btn-floating.top {
    top: 70px;
}

.btn-floating.bottom {
    bottom: 55px;
}
/* buttons */
.btn,
.btn:focus {
    background-color: $primary;
    color: $white;
    text-shadow: none;
    background-image: none;
    border: none;
}

.btn:hover {
    background-color: $primary-dark;
    color: $white;
    text-shadow: none;
}

.btn.success {
    background-color: $green !important;
}

.btn.success:hover {
    background-color: $green-dark !important;
}

.btn.warning {
    background-color: $secondary !important;
}

.btn.warning:hover {
    background-color: $secondary-dark !important;
}

.btn.danger {
    background-color: $red !important;
}

.btn.danger:hover {
    background-color: $red-dark !important;
}
/* editor */
.editable {
    background: $text-edit;
}
